@font-face {
  font-family: 'Norse-Bold';
  src: url(assets/Norse-Bold.otf);
}

body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Norse-Bold';
}

aside {
  position: relative;
  width: 35%;
}

aside>img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
}

aside div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  height: 15%;
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
}

aside>div>img {
  height: 100px;
}

aside div h1 {
  font-size: 6em;
}

main {
  width: 65%;
  background-color: rgb(249, 250, 251);
}

.container {
  padding: 3em;
  width: 75%;
}

.mt-4 {
  margin-top: 4em;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}

.form-header-input {
  padding-left: 3em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background-color: white;
  box-shadow: 0px 10px 10px #e9e9e9;
}

form h2 {
  margin: 0;
  margin-bottom: 1.2em;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.input-container label {
  font-size: 1.2em;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 1px;
}

.input-group-container {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  gap: 20px 100px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'] {
  border: #e5e7eb solid 1.5px;
  border-radius: 5px;
  padding: 6px;
}

input[type='text']:focus:not(.input-error),
input[type='email']:focus:not(.input-error),
input[type='password']:focus:not(.input-error),
input[type='tel']:focus:not(.input-error) {
  outline: rgb(30, 30, 255) solid 1.5px;
  box-shadow: 1px 1px 5px #545454;
}

button {
  background-color: #596d48;
  padding: 15px 50px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 5px;
}

.login-info {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 48px;
}

.login-info a {
  color: #596d48;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.input-error {
  outline: red solid 1.5px; 
}

.error {
  color: red;
  font-size: .8em;
}

.test {
  outline: rgb(30, 30, 255) solid 1.5px;
  box-shadow: 1px 1px 5px #545454;
}